


        {% comment %} <h6>This is footer</h6> {% endcomment %}
        {% load static %}
       
        <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
        <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
        <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
        <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
        <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
        <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
        <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
        <script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
        <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
        <script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
        <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
        <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
        <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
        <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
        <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <script src="{% static 'js/custom.min.js' %}"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
