
       {% load static %}
       
       {% comment %} <img src="{% static 'images/layout.png' %}" alt="My image"> {% endcomment %}
       {% comment %} <h6>This is header</h6> {% endcomment %}

       <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
       <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
       <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
       <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
       <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
       <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet">
       <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
       <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
       {% comment %} <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> {% endcomment %}
       <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
