<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CRM Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>        

    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                
                {% load bootstrap5 %}
                {# Load CSS and JavaScript #}
                {% bootstrap_css %}
                {% bootstrap_javascript %}
                {% bootstrap_messages %} 
                {% include 'layout/header.html' %}

                {% include 'layout/menuleft.html' %}
                {% include 'layout/menuheader.html' %}

                <div class="right_col p-1" role="main">
                {% block contentdata %}
                    <!-- CONTENT DATA TEMPLATE -->

                {% endblock %}

                </div>


                <footer>
                    <div class="pull-right">
                      Bootstrap Admin Template by <a href="">CRM Project</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>


            </div>

        </div>
           

        <script src="" async defer></script>

        <script>
            
            $( document ).ready(function() {
                $('.datatablejs').DataTable();
            });

            function clickShow(){
                var val = $("#myval").val();
                alert(val);
            }

        </script>

        {% include 'layout/footer.html' %}

    </body>
</html>