{% extends 'layout/master.html' %}
{% block contentdata %}

<style>
    .padding-2px{
        padding: 2px !important;
    }
</style>

<div class="col-md-12">
    <label class ="label">
        <span>Home</span>&nbsp;/&nbsp;<span>Quote</span>&nbsp;/&nbsp;<span>Add</span>
    </label>
</div>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
            <div class="x_title">
                <div class="col-md-6">
                    <h2>Quotation</h2>
                </div>
                <div class="col-md-6" align="right">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row pt-3">
                    <div class="col-md-6" align="right">
                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">Select Leads <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <select class="form-control form-control-sm">
                                    <option value="1">Lead 11</option>
                                    <option value="2">Lead 22</option>
                                </select>
                            </div>
                        </div>

                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name"> Contact <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="last-name" name="last-name" required="required" class="form-control form-control-sm">
                            </div>
                        </div>


                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">Acknowladge By
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <select class="form-control form-control-sm">
                                    <option value="isp">AAAAA</option>
                                    <option value="bank">BBBBB</option>
                                    <option value="bank">CCCC</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" align="left" >

                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name"> Lead Number <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="last-name" name="last-name" required="required" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name"> Subject <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="last-name" name="last-name" required="required" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name">Address <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <select class="form-control form-control-sm">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="row pt-2">
                    <div class="col-md-12">
                        <input type="hidden" id="numberRowTable" value="1"/>
                        <table class="table table-bordered text-center text-nowrap" width="100%" style="padding: 2px !important;">
                            <thead style="padding: 2px !important;">
                                <th style="padding: 2px !important;">No</th>
                                <th style="padding: 2px !important;">Products</th>
                                <th style="padding: 2px !important;">Price</th>
                                <th style="padding: 2px !important;">QTY</th>
                                <th style="padding: 2px !important;">Measurement</th>
                                <th style="padding: 2px !important;">Total</th>
                                <th style="padding: 2px !important;">
                                    <a type="button" class="btn btn-sm" onclick="addRowTable();"><i class="fa fa-plus" style="color:blue;"></i></a>
                                </th>
                            </thead>
                            <tbody id="tbodyAddProduct">
                                <tr id="trAddPrd_1">
                                    <td class="padding-2px">1</td>
                                    <td class="padding-2px">
                                        <input type="text" id="prdnaem1" name="prdnaem[]" required="" class="form-control form-control-sm">
                                    </td>
                                    <td class="padding-2px">
                                        <input type="text" id="prdprice1" name="prdprice[]" required="" class="form-control form-control-sm">
                                    </td>
                                    <td class="padding-2px">
                                        <input type="text" id="prdqty1" name="prdqty[]" required="" class="form-control form-control-sm">
                                    </td>
                                    <td class="padding-2px">
                                        <label class="col-form-label">Months
                                        </label>
                                    </td>
                                    <td class="padding-2px">
                                        <label id="subtotal1" class="col-form-label">0</label>
                                    </td>
                                    <td class="padding-2px">
                                        <a type="button" class="btn btn-sm"><i class="fa fa-trash" onclick="deleteRowTable(1);"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row pt-4">
                    <div class="col-md-12" align="right">
                        <button type="button" class="btn btn-sm btn-info">Save</button>
                        <button type="button" class="btn btn-sm btn-danger">Cancel</button>
                    </div>
                </div>

            </div>
    </div>
</div>




<script type="text/javascript">

    function addRowTable(){
        var number = $("#numberRowTable").val();
        number = parseInt(number);
        var str = `
            <tr id="trAddPrd_${number}">
                <td class="padding-2px">${number+1}</td>
                <td class="padding-2px">
                    <input type="text" id="prdnaem${number}" name="prdnaem[]" required="" class="form-control form-control-sm">
                </td>
                <td class="padding-2px">
                    <input type="text" id="prdprice${number}" name="prdprice[]" required="" class="form-control form-control-sm">
                </td>
                <td class="padding-2px">
                    <input type="text" id="prdqty${number}" name="prdqty[]" required="" class="form-control form-control-sm">
                </td>
                <td class="padding-2px">
                    <label class="col-form-label">Months
                    </label>
                </td>
                <td class="padding-2px">
                    <label id="subtotal${number}" class="col-form-label">0
                    </label>
                </td>
                <td class="padding-2px">
                    <a type="button" class="btn btn-sm"><i class="fa fa-trash" onclick="deleteRowTable(${number});"></i></a>
                </td>
            </tr>
        `;

        number += 1;
        $("#numberRowTable").val(number);

        $('#tbodyAddProduct').append(str);
    }



    function deleteRowTable(number){
        $("#trAddPrd_"+number).remove();
    }   

</script>



{% endblock %}

