{% extends 'layout/master.html' %}
{% block contentdata %}
<div class="col-md-12">
    <label class ="label">
        <span>Home</span>&nbsp;/&nbsp;<span>Quotation</span>
    </label>
</div>
<div class="col-md-12 col-sm-12 ">

    <div class="x_panel">
            <div class="x_title">
                <div class="col-md-6">
                    <h2>Quotations</h2>
                </div>
                <div class="col-md-6" align="right">
                    <a href="{% url 'addquote' %}" class="btn btn-sm btn-primary"><b><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add</b></a>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">

                        {% comment %} <div class="table-responsive"> {% endcomment %}
                            <table class="table table-bordered datatablejs" width="100%" >
                                <thead class="text-center text-nowrap" style="background: #91918D; color:white">
                                    <tr>
                                        <th>No</th>
                                        <th>Action</th>
                                        <th>Code</th>
                                        <th>Subject</th>
                                        <th>Lead Number</th>
                                        <th>Contact</th>
                                        <th>Company</th>
                                        <th>Acknowladge By</th>
                                        <th>Created Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% if false %}
                                        
                                        
                                        {% for value in arrval %}
                                        <tr>
                                            <td>
                                                {{ value }}
                                            </td>
                                            <td>
                                                <a type="button" class="btn btn-sm"><i class="fa fa-edit"></i></a>
                                            </td>
                                            <td>
                                                LED-000{{ value }}
                                            </td>
                                            <td>
                                                ចាន់ រតនា_{{ value }}
                                            </td>
                                            <td>
                                                Chan Ratana_{{ value }}
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                09833344{{ value }}
                                            </td>
                                            <td>
                                                Phnom Penh, Cambodia
                                            </td>
                                            <td>
                                                12-July-2022
                                            </td>
                                            <td>
                                                Active
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}

                                </tbody>
                            </table>
                        {% comment %} </div> {% endcomment %}
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</div>



<script type="text/javascript">

</script>



{% endblock %}

