{% extends 'layout/master.html' %}
{% block contentdata %}


<div class="col-md-12">
    <label class ="label">
        <span>Home</span>&nbsp;/&nbsp;<span>Lead</span>&nbsp;/&nbsp;<span>Add</span>
    </label>
</div>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
            <div class="x_title">
                <div class="col-md-6">
                    <h2>Leads</h2>
                </div>
                <div class="col-md-6" align="right">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="frmAddLead" method="POST">

                {% csrf_token %}

                <div class="row pt-3">
                    <div class="col-md-6" align="right">
                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">First Name <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="firstname" name="firstname" required="required" class="form-control form-control-sm requireInput">
                            </div>
                        </div>

                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label " for="last-name">Khmer Name <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="khmername" name="khmername" required="required" class="form-control form-control-sm requireInput">
                            </div>
                        </div>

                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">Contact <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="contact" name="contact" required="required" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">Email
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="email" id="email" name="email" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">Company Name <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="company" name="company" required="required" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="item form-group" align="right">
                            <label class="col-sm-4 col-form-label" for="last-name">Facebook
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="facebook" name="facebook" class="form-control form-control-sm">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" align="left" >
                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name">Last Name <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="lastname" name="lastname" required="required" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name">Gender <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <select class="form-control form-control-sm" name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name">Address <span class="required" style="color:red;">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="address" name="address" required="required" class="form-control form-control-sm">
                            </div>
                        </div>


                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name">Industry Type
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <select class="form-control form-control-sm" name="industryType">
                                    <option value="ISP">ISP</option>
                                    <option value="bank">Bank</option>
                                    <option value="software">Software Solution</option>
                                    <option value="realestate">Real Estate</option>
                                    <option value="cafe">Cafe shop</option>
                                    <option value="resturant">Resturant</option>
                                </select>
                            </div>
                        </div>

                        <div class="item form-group" align="left">
                            <label class="col-sm-4 col-form-label" for="last-name">Description
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="last-name" name="description" required="required" class="form-control form-control-sm">
                            </div>
                        </div>

                        

                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-12" align="right">
                        <button type="button"  class="btn btn-sm btn-info" onclick="submitLead();">Save</button>
                        <button type="button" class="btn btn-sm btn-danger">Cancel</button>
                    </div>
                </div>

                </form>

            </div>
    </div>
</div>




<script type="text/javascript">

    function submitLead(){


        var first = $("#firstname").val();
        if(first == ''){
            alert('Require Input First Name');
            return;
        }

        var last = $("#lastname").val();
        if(last == ''){
            alert('Require Input Last Name');
            return;
        }

        var khname = $("#khmername").val();
        if(khname == ''){
            alert('Require Input Khmer Name');
            return;
        }
    
        var contact = $("#contact").val();
        if(contact == ''){
            alert('Require Input Contact');
            return;
        }

        var company = $("#company").val();
        if(company == ''){
            alert('Require Input Company');
            return;
        }

        var address = $("#address").val();
        if(address == ''){
            alert('Require Input Address');
            return;
        }
    

        $.ajax({
                type: "POST",
                url: "/lead/store",
                data: $("#frmAddLead").serialize(),
                datatype: JSON,
                success: function(data){
                    alert(data);
                    window.location = '/leads';
                }
        });
    }






</script>



{% endblock %}

