{% extends 'layout/master.html' %}
{% block contentdata %}
<div class="col-md-12">
    <label class ="label">
        <span>Home</span>&nbsp;/&nbsp;<span>Leads</span>
    </label>
</div>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
            <div class="x_title">
                <div class="col-md-6">
                    <h2>Leads</h2>
                </div>
                <div class="col-md-6" align="right">
                    <a href="{% url 'addlead' %}" class="btn btn-sm btn-primary"><b><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add</b></a>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        {% comment %} <div class="table-responsive"> {% endcomment %}
                            <table class="table table-bordered datatablejs" width="100%">
                                <thead class="text-center text-nowrap" style="background: #91918D; color:white">
                                    <tr>
                                        <th>No</th>
                                        <th>Action</th>
                                        <th>Code</th>
                                        <th>Name Kh</th>
                                        <th>Name En</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Register Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for val in data %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            <a href="{% url 'editlead' %}" class="btn btn-sm"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td>
                                            LED-000{{ val.code }}
                                        </td>
                                        <td>
                                            {{ val.first_name }}
                                        </td>
                                        <td>
                                            {{ val.last_name }}
                                        </td>
                                        <td>
                                            {{ val.gender }}
                                        </td>
                                        <td>
                                            {{ val.contact }}
                                        </td>
                                        <td>
                                            {{ val.address }}
                                        </td>
                                        <td>
                                            {{ val.create_at }}
                                        </td>
                                        <td>
                                            Active
                                        </td>
                                    </tr>
                                        
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% comment %} </div> {% endcomment %}
                    </div>
                </div>
            </div>
    </div>
</div>



<script type="text/javascript">

</script>



{% endblock %}

